# TW1

## Pandas Series and DataFrame

- Practice Pandas Series and DataFrame with examples.

#### Team member: Felix Vu, David Nguyen and Muktar Rashid.




#### Submission:

- Push the completed code to your Github repository.

## Part 0

Practice Pandas Series and DataFrame with the given examples.

In [15]:
import pandas as pd

In [17]:
alist = ['Mouse', 'Giraffe', 'Tiger', 'Dog', 'Hippopotamus', 'Moose', 'Bear']
animals = pd.Series(alist)
animals

0           Mouse
1         Giraffe
2           Tiger
3             Dog
4    Hippopotamus
5           Moose
6            Bear
dtype: object

In [20]:
animals[2]

'Tiger'

In [5]:
animals.iloc[2]

'Tiger'

In [6]:
animals.loc[2]

'Tiger'

In [7]:
s1 = pd.Series(alist, index=[1, 2, 3, 4, 5, 6, 7])
s1

1           Mouse
2         Giraffe
3           Tiger
4             Dog
5    Hippopotamus
6           Moose
7            Bear
dtype: object

In [8]:
s2 = pd.Series(alist, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s2

a           Mouse
b         Giraffe
c           Tiger
d             Dog
e    Hippopotamus
f           Moose
g            Bear
dtype: object

In [9]:
s2['c']

'Tiger'

In [10]:
s2.loc['c']

'Tiger'

In [11]:
s2.iloc[2]

'Tiger'

In [12]:
names = ['Chris', 'Kevin', 'Bob', 'Vinod', 'Daniel', 'Fil', 'Stephanie']
owners = pd.Series(names)
owners

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
dtype: object

In [3]:
import pandas as pd

In [6]:
frame = {'animals': ["animals"], 'owners': ["owners"]}

df = pd.DataFrame(frame)

df

   animals  owners
0  animals  owners

In [7]:
df.columns

Index(['animals', 'owners'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=1, step=1)

In [ ]:
type(df['animals'])

In [9]:
df.iloc[0]

animals    animals
owners      owners
Name: 0, dtype: object

In [10]:
df.loc[0][1]

'owners'

In [11]:
# copy an existing DataFrame to create a new dataFrame
copy_df = df.copy()
copy_df

   animals  owners
0  animals  owners

In [12]:
# drop columns

df2 = df.drop(['owners'], axis = 1)

df2

   animals
0  animals

In [13]:
# drop columns

df3 = df.drop(columns = ['owners'])

df3

   animals
0  animals

In [15]:
# drop rows

df4 = df.drop([0,0])
df4

Empty DataFrame
Columns: [animals, owners]
Index: []

In [16]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight']],
                     codes=[[0, 0, 1, 1, 2, 2],
                            [0, 1, 0, 1, 0, 1]])

midx

MultiIndex([(  'lama',  'speed'),
            (  'lama', 'weight'),
            (   'cow',  'speed'),
            (   'cow', 'weight'),
            ('falcon',  'speed'),
            ('falcon', 'weight')],
           )

In [17]:
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                   data=[[45, 30], [200, 100], [30, 20], [250, 150], [320, 250],[1, 0.8]])

df

               big  small
lama   speed    45   30.0
       weight  200  100.0
cow    speed    30   20.0
       weight  250  150.0
falcon speed   320  250.0
       weight    1    0.8

In [18]:
df.drop(index='cow', columns='small')

               big
lama   speed    45
       weight  200
falcon speed   320
       weight    1

In [19]:
df.drop(index='weight', level=1)

              big  small
lama   speed   45   30.0
cow    speed   30   20.0
falcon speed  320  250.0

## Part 1 Task 1

Given the data below, implement each tasks. 

<img src="img/df.png" style="height:200px"> 

(1) Create a DataFrame.

(2) Access the first row data and print it.

(3) Access the first column data (indexed by 'dept') and print it.

(4) Create a new DataFrame by dropping the 2nd column data (indexed by 'floor') from the current DataFrame.

In [21]:
dept_list = ['CS', 'Bio', 'Chem', 'Phy', 'Eng'] 
dept_list_s = pd.Series(dept_list, index=[0,1,2,3,4])

In [22]:
floor_list = [5,3,3,2,4]
floor_list_s = pd.Series(floor_list, index=[0,1,2,3,4])

In [23]:
courses = {'dept': dept_list_s, 'floor': floor_list_s}

df1 = pd.DataFrame(courses)

df1

   dept  floor
0    CS      5
1   Bio      3
2  Chem      3
3   Phy      2
4   Eng      4

In [24]:
first_row = df1.iloc[0]
first_row

dept     CS
floor     5
Name: 0, dtype: object

In [25]:
first_col = df1['dept']
first_col

0      CS
1     Bio
2    Chem
3     Phy
4     Eng
Name: dept, dtype: object

In [26]:
df2 = df1.drop(['floor'], axis=1)
type(df2)
df2

   dept
0    CS
1   Bio
2  Chem
3   Phy
4   Eng

## Part 1 Task 2

Practice with a data file. 

(1) Choose one data file from the data folder in the given TW1 folder.

(2) Read the data into a DataFrame. 

(3) Access the rows and columns. 

(4) Drop some columns.

In [27]:
from copy import copy
from email import header


data = pd.read_csv('data/census.csv')
type(data)
data_copy = data

region = data_copy['REGION']
state_name = data_copy['STNAME']

frame = {'REGION' : region, 'STNAME': state_name}
reg_stname = pd.DataFrame(frame, columns=['STNAME', 'REGION'])

In [28]:
reg_stname
data_copy

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [29]:
data_copy.drop(['DIVISION', 'COUNTY'], axis=1)

,SUMLEV,REGION,STATE,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,1,Alabama,Alabama,4779736,4780127,4785161,4801108,4816089,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,1,Alabama,Autauga County,54571,54571,54660,55253,55175,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,1,Alabama,Baldwin County,182265,182265,183193,186659,190396,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,1,Alabama,Barbour County,27457,27457,27341,27226,27159,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,1,Alabama,Bibb County,22915,22919,22861,22733,22642,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,56,Wyoming,Sweetwater County,43806,43806,43593,44041,45104,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,56,Wyoming,Teton County,21294,21294,21297,21482,21697,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,56,Wyoming,Uinta County,21118,21118,21102,20912,20989,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,56,Wyoming,Washakie County,8533,8533,8545,8469,8443,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,56,Wyoming,Weston County,7208,7208,7181,7114,7065,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [30]:
data_copy

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294